---
pagesubtitle: About us
layout: main.html
---

<div class="title bg">
  <h1>About us</h1>
</div>

<div class="container">
  <div class="column">
    <h2>Formula Infinity</h2>
    <p><em>Formula Infinity</em> is a consortium of Swedish educational institutions established to foster and explore new ways of learning advanced engineering topics through engaging computer games. Founded in 2015, Formula Infinity has created strong ties between Swedish universities as well as industry and research institutes. The long term goal of Formula Infinity is to harness the power of computer games and gaming for the purpose of meaningful learning and individual growth of people from all parts of society.</p>
  </div>

  <div class="column">
    <h2>Formula Infinity Game Awards</h2>
    <p>Formula Infinity Game Awards is an exciting extension of Formula Infinity, focusing on bringing together ambitious and creative game developers for creation and innovation of games with engineering content. We aim to use this platform to encourage game developers to push the boundaries of technology and innovation to create games that not only entertain but also drive positive change, both on the individual and societal level. By linking exciting game concepts with our overarching goal of promoting individual and societal development, we hope to inspire and engage a broad community of creators.</p>
   
    <p>In particular Formula Infinity Game Awards arranges a yearly Game Jam specifically targeting university students. Each Game Jam, a meeting point for people sharing our vision, is arranged with a specific theme in mind aiming to challenge young game developers and creators to generate simple but meaningful video games.</p>
  </div>
</div>

<div class="logorow">
  <img src="img/logo/bth-logo.png" alt="Blekinge tekniska högskola">
  <img src="img/logo/chalmers-logo.png" alt="Chalmers tekniska högskola">
  <img src="img/logo/hg-logo.png" alt="Högskolan i Gävle">
  <img src="img/logo/hh-logo.png" alt="Högskolan i Halmstad">
  <img src="img/logo/kau-logo.png" alt="Karlstads universitet">
  <img src="img/logo/kth-logo.png" alt="Kungliga tekniska högskolan">
  <img src="img/logo/lnu-logo.png" alt="Linnéuniversitetet" style="height: 25px">
  <img src="img/logo/ltu-logo.png" alt="Luleå tekniska universitet">
  <img src="img/logo/mdu-logo.png" alt="Mälardalens universitet">
  <img src="img/logo/uw-logo.png" alt="University west">
</div>
