---
pagesubtitle: Contact
layout: main.html
---

<div class="title bg">
  <h1>Contact us</h1>
</div>

<div class="container">
  <div class="column">
    <h2>General points of contact</h2>
    <p>For press inquiries, please contact the Formula Infinity Game Awards lead or communicator directly. If you are a registered participant mainly contact the administrators. For any other question, please use the address below.</p>
    <p><img class="icon" src="img/icon/icon-web.svg"><a href="mailto:info@formulainfinitygameawards.se">info@formulainfinitygameawards.se</a></p>
    <p><img class="icon" src="img/icon/icon-instagram.svg"><a href="https://instagram.com/formulainfinitygameawards" target="_new">@formulainfinitygameawards</a></p>
    <p>Please make sure to follow us on Instagram!</p>
  </div>
  <div class="column">
    <h2>Ola Benderius</h2>
    <img src="img/profile/ola_benderius.jpg">
    <p>Lead<br>
    <a href="mailto:ola.benderius@chalmers.se">ola.benderius@chalmers.se</a><br>
    Chalmers University of Technology</p>
  </div>
  <div class="column">
    <h2>Hans Löfgren</h2>
    <img src="img/profile/hans_lofgren.jpg">
    <p>Co-lead<br>
    <a href="mailto:hans.lofgren@hh.se">hans.lofgren@hh.se</a><br>
    Halmstad University</p>
  </div>
  <div class="column">
    <h2>Linda Gao</h2>
    <img src="img/profile/linda_gao.jpg">
    <p>Administrator<br>
    <a href="mailto:linda.gao@chalmers.se">linda.gao@chalmers.se</a><br>
    Chalmers University of Technology</p>
  </div>
  <div class="column">
    <h2>Emma Hedberg</h2>
    <img src="img/profile/emma_hedberg.jpg">
    <p>Co-administrator<br>
    <a href="mailto:eshe@kth.se">eshe@kth.se</a><br>
    KTH Royal Institute of Technology</p>
  </div>
  <div class="column">
    <h2>Kirsten Loewenthal</h2>
    <img src="img/profile/kirsten_loewenthal.jpg">
    <p>Communicator<br>
    <a href="mailto:kirsten.loewenthal@chalmersindustriteknik.se">kirsten.loewenthal@chalmersindustriteknik.se</a><br>
    Chalmers Industriteknik</p>
  </div>
</div>
