---
pagesubtitle: Home
layout: main.html
---

<div class="hero">
  <img src="img/gamejam.png" alt="Game jam">
</div>

<div class="welcome">
  <h1 id="line1"></h1>
  <p id="line2"><p>
</div>

<div class="register">
  <h2>Register now!</h2>
  <p>Don't miss out on this exciting event. Sign up now to secure your spot!</p>
  <a href="register.html" class="btn">Registration</a>
</div>

<div class="title bg" >
  <h1>Theme:<br><span style="font-variant-caps: small-caps;">Educational by Accident</span></h1>
  <p>Can you make a game where players accidentally learn something?</p>
</div>

<div class="container">

  <div class="column" style="flex: 3">
    <h2>About Formula Infinity Game Jam</h2>
    <p>The Formula Infinity Game Jam is an annual event organized by Formula Infinity Game Awards, dedicated to promoting serious and innovative engineering content in video games. We believe that gaming brings a powerful opportunity to excercise creativity and innovation, given the right game content. <a href="register.html">Sign up</a> now to be part of this exciting event where gaming meets engineering, and game development is our tool to bring advanved engineering topics to everyone! Stay tuned for updates on exciting challenges, fun prizes, and more! See you on July 12 at Chalmers!</p>
  </div>

  <div class="column" style="flex: 2">
    <h2>Info</h2>
    <p><span>When?</span> July 12&ndash;14, 2024</p>
    <p><span>Where?</span> SB Multisal, Chalmers University of Technology, Gothenburg</p>
    <p><span>Cost?</span> No participation fee!</p>
  </div>
</div>

<div class="title" >
  <h1>Information and rules</h1>
</div>

<div class="container" >

  <div class="column">
    <h2>The setup</h2>
    <p>During the Formula Infinity Game Jam, participants will immerse themselves in an intense and creative three-day experience spanning from Friday morning to Sunday lunchtime, with a mingle get-together at Thursday evening.</p> 
    <p>This event is more than just an opportunity to create games&mdash;it's a platform to explore, collaborate, and be inspired by other like-minded creators.</p>
    <p>Between the intense periods of game jamming, activities will be arranged to give participants a chance to relax, socialize, and let their creativity flow.</p> 
    <p>To ensure participants have energy throughout the event, sandwiches, drinks, and snacks will be available on-site.</p>
    <p>A detailed schedule,  activity plan, and group information will be sent to all participants before the event. But already now you are free to start forming your game ideas.</p>
    <img src="img/educationalbyaccident.png" alt="Educational by accient">
  </div>
  <div class="column">
    <h2>Rules</h2>
    <p><span>Theme:</span> Educational by accident</p>
    <p><span>Teams:</span> The maximum team size is four people</p>
    <p><span>Judging criteria:</span> Judging will be based on creativity, technical performance, and how well your game fits the theme</p>
    <p><span>Respect and collaboration:</span> Please be kind and respectful to your fellow participants. Collaboration and idea-sharing are encouraged!</p>
    <p><span>Announcement of results:</span> The results will be announced at the end of the Game Jam</p>
    <p><span>Important:</span> When using existing technology such as game engines and development environments, or existing media like images, 3D models, and sound effects, participants must have obtained the necessary rights and permissions to use them in the competition. Participants must respect all copyrights and licensing agreements involved.</p>
  </div>
</div>

<div class="register">
  <h2>Register now!</h2>
  <p>Don't miss out on this exciting event. Sign up now to secure your spot!</p>
  <a href="register.html" class="btn">Registration</a>
</div>

<script>
const lines = ["Coming up: 2024 Formula Infinity Game Jam!", "Are you ready to challenge yourself to create innovative games? "];

let indices = [0, 0];

function typeEffect() {
  if (indices[0] < lines[0].length) {
    document.getElementById('line1').textContent += lines[0].charAt(indices[0]);
    indices[0]++;
  } else if (indices[1] < lines[1].length) {
    setTimeout(function() {
      document.getElementById('line2').textContent += lines[1].charAt(indices[1]);
      indices[1]++;
    }, 500);
  }
}

setInterval(typeEffect, 50);
</script>
