---
pagesubtitle: Previous events
layout: main.html
---

<div class="title bg">
  <h1>Past Formula Infinity Game Awards</h1>
</div>

<div class="container">
  <div class="column">
    <h2>2023 Game Jam: Made by AI</h2>
    <p>In 2023 Formula Infinity Game Awards arranged its first Game Jam, with the theme <i>Made by AI</i> where participants were asked to create engineering-relevant games with as much AI aid as possible. The results were an impressive mix of vastly different games, all with that distinctive touch of AI silliness.</p>

    <h3>Games</h3>

    <p>There were in total eight games made during the event, and seven of these are presented below.</p>

    <h4>Xinocrafters</h4>
    <p><span>Winner!</span> With an impressive margin in the popular vote this game won the first Formula Infinity Game Awards! The game features a well-developed and advanced game loop, and gorgeous assets! A very well deserved winner indeed.</p>
    <p><span>Game synopsis:</span> Stranded on an alien world, harness unique resources to survive, craft, and thrive. Unleash your engineering genius for base-building and unravel extinct alien secrets. Your cosmic adventure awaits!</p>
    <p><span>Use of AI:</span> We started by using GPT-4 as a consultant to help us come up with a game concept during the AI Game Jam. After some back and forth with the AI, we settled on an idea and asked GPT-4 to act as an experienced game designer. It helped us create a simple game loop that suited our game and was feasible enough during a game jam. In addition, GPT-4 generated name suggestions and descriptions for the game objects. We also used Midjourney to generate concept art, which we then further developed ourselves. During programming, we used GitHub Copilot and GPT-4 to generate large parts of the code. We entered a comment describing what the code was supposed to do and the AI then generated code that worked about 80% of the time. We could then change the code ourselves a bit to match the code that already exists.</p>
    <video width="500" controls>
      <source src="video/figa2023/Xinocrafters.webm" type="video/webm">
    </video>

    <h4>Cosmic Odyssey: Voyage of the Stellar Crew</h4>
    <p><span>Runner-up!</span> From an outstanding use of AI, where not a single manual intervention was made, this game was the organizers' pick for the runner-up.</p>
    <p><span>Game synopsis:</span> The game takes players on an epic interstellar journey as the revered Commander of an extraordinary starship crew. Traverse uncharted galaxies, encounter cosmic challenges, and manage resources wisely to keep the ship running. Monitor crew emotions, foster unity, and make critical decisions to ensure survival. Experience breathtaking discoveries, forge strong bonds, and leave a cosmic legacy as you lead the Stellar Crew on this unforgettable space odyssey. The universe awaits your command!</p>
    <p><span>Use of AI: </span> Absolutely everything, with no manual input to any of the code or other resources.</p>
    <video width="500" controls>
      <source src="video/figa2023/CosmicOdyssey.webm" type="video/webm">
    </video>

    <h4>Block Master</h4>
    <p><span>Game synopsis:</span> A space optimization and time management game where you have to manage a warehouse and deliver blocks as requested. Correct deliveries give a time bonus depending on the size of the delivered box, and you lose when you either run out of time or when you don't move your boxes out of the spawn location.</p>
    <p><span>Use of AI:</span>  We used arcade library on Python to create the game. We used ChatGPT to generate the code for the various elements of the game such as the blocks, collision mechanics, window design, and game mechanics. We found that while ChatGPT was extremely useful in generating 90% of the code, the remaining 10% required some tweaking and correction to get the behavior we wanted.</p> 
    <video width="500" controls>
      <source src="video/figa2023/BlockMaster.webm" type="video/webm">
    </video>

    <h4>B to A</h4>
    <p><span>Game synopsis:</span>  A logistics game where you route your vehicles from a supplier to a customer.</p>
    <video width="500" controls>
      <source src="video/figa2023/BtoA.webm" type="video/webm">
    </video>

    <h4>Colorination</h4>
    <p><span>Game synopsis:</span> In Colorination you control a white circle collecting color coins to transform into a vibrant spectrum. The goal is to gather as many coins as possible before the time runs out. Match coin colors to the time bar's hue for extra time. Strategize, dash through the colorful and unexplored world, and paint your survival against the time!</p>
    <p><span>Use of AI:</span> ChatGPT for the program code, and Soundful for the sound effects.</p>
    <video width="500" controls>
      <source src="video/figa2023/Colorination.webm" type="video/webm">
    </video>

    <h4>Watt Wizards</h4>
    <p><span>Game synopsis:</span> A strategy game where you connect power-generating windmills to castles.</p>
    <p><span>Use of AI:</span>  Backgrounds were done with Stable Diffusion, music with AIVA, code with GitHub Copilot and GitHub Copilot Labs, and general ideas generated with ChatGPT.</p>
    <p><span>Game code: </span> <a href="https://github.com/gAsplund/watt-wizards" target="_new">GitHub</a></p>
    <video width="500" controls>
      <source src="video/figa2023/WattWizards.webm" type="video/webm">
    </video>

    <h4>Wavestack</h4>
    <p><span>Game synopsis:</span> Stack waves to achieve a super-wave.</p>
    <video width="500" controls>
      <source src="video/figa2023/Wavestack.webm" type="video/webm">
    </video>

    <h3>Gallery</h3>

    <div class="gallery">
      <img alt="FIGA2023 welcome" src="img/figa2023/figa2023_welcome.jpg">
      <img alt="FIGA2023 group" src="img/figa2023/figa2023_group.jpg">
      <img alt="FIGA2023 venue 6" src="img/figa2023/figa2023_venue6.jpg">
      <img alt="FIGA2023 venue 1" src="img/figa2023/figa2023_venue1.jpg">
      <img alt="FIGA2023 venue 2" src="img/figa2023/figa2023_venue2.jpg">
      <img alt="FIGA2023 venue 3" src="img/figa2023/figa2023_venue3.jpg">
      <img alt="FIGA2023 venue 4" src="img/figa2023/figa2023_venue4.jpg">
      <img alt="FIGA2023 venue 5" src="img/figa2023/figa2023_venue5.jpg">
      <img alt="FIGA2023 work 1" src="img/figa2023/figa2023_work1.jpg">
      <img alt="FIGA2023 work 2" src="img/figa2023/figa2023_work2.jpg">
      <img alt="FIGA2023 work 3" src="img/figa2023/figa2023_work3.jpg">
      <img alt="FIGA2023 work 4" src="img/figa2023/figa2023_work4.jpg">
      <img alt="FIGA2023 work 5" src="img/figa2023/figa2023_work5.jpg">
      <img alt="FIGA2023 activity 1" src="img/figa2023/figa2023_activity1.jpg">
      <img alt="FIGA2023 activity 2" src="img/figa2023/figa2023_activity2.jpg">
      <img alt="FIGA2023 food 1" src="img/figa2023/figa2023_food1.jpg">
      <img alt="FIGA2023 food 2" src="img/figa2023/figa2023_food2.jpg">
      <img alt="FIGA2023 food 3" src="img/figa2023/figa2023_food3.jpg">
      <img alt="FIGA2023 King of Jam" src="img/figa2023/figa2023_kingofjam.jpg">
      <img alt="FIGA2023 presentation 1" src="img/figa2023/figa2023_presentation1.jpg">
      <img alt="FIGA2023 presentation 2" src="img/figa2023/figa2023_presentation2.jpg">
      <img alt="FIGA2023 presentation 3" src="img/figa2023/figa2023_presentation3.jpg">
      <img alt="FIGA2023 presentation 4" src="img/figa2023/figa2023_presentation4.jpg">
      <img alt="FIGA2023 presentation 5" src="img/figa2023/figa2023_presentation5.jpg">
      <img alt="FIGA2023 presentation 6" src="img/figa2023/figa2023_presentation6.jpg">
      <img alt="FIGA2023 presentation 7" src="img/figa2023/figa2023_presentation7.jpg">
    </div>
  </div>
</div>
