---
pagesubtitle: Register
layout: main.html
---

<div class="title bg">
  <h1>Register</h1>
</div>


<div class="container">
  <div class="column">
  <form action="thanks.html" method="post">
    <fieldset>
      <label><input type="checkbox" name="terms" class="inline" required>GDPR: I consent to the storage of my information by Formula Infinity Game Awards until the end of the event</label>
      <label>First name: <input type="text" name="first-name" required></label>
      <label>Last name: <input type="text" name="last-name" required></label>
      <label>Age: <input type="number" name="age" min="18" max="120" required></label>
      <label>E-mail: <input type="email" name="email" required></label>
    </fieldset>
    <fieldset>
      <label><input type="radio" name="participant" value="group" class="inline"> Register with others. If so, please provide the names of your group members below (they do <em>not</em> need to register separately):</label>
      <label><textarea name="group-members" rows="3" cols="30"></textarea></label>
      <label><input type="radio" name="participant" value="solo-for-group" class="inline" /> Register as a solo participant, with the desire to be assigned with a group.</label>
      <label><input type="radio" name="participant" value="solo" class="inline"> Register as a solo participant, <em>without</em> the desire to be assigned to a group.</label>
    </fieldset>
    <fieldset>
      <label>If you are currently a student, which university do you study at and what program?</label>
      <textarea name="institution" rows="2" cols="30"></textarea>
      <label>Where did you hear about us?
        <select name="marketing">
          <option value="-1">(select one)</option>
          <option value="friend">From a friend</option>
          <option value="school">From my school</option>
          <option value="poster">Poster</option>
          <option value="discord">Discord</option>
          <option value="orbi">Orbi</option>
          <option value="meetup">Meetup</option>
          <option value="instagram">Instagram</option>
          <option value="facebook">Facebook</option>
          <option value="other">Other</option>
        </select>
      </label>
      <label>Do you have any further information or questions for us?</label>
      <textarea name="questions" rows="5" cols="30"></textarea>
    </fieldset>
    <label>You will get a confirmation email within 2 days. If you didn't recieve any mail, please contact us via email.</label>
    <input type="submit" value="Submit">
  </form>
  </div>
</div>
