@font-face {
  font-family: "Lato";
  src: url('font/Lato-Regular.ttf') format('truetype');
}

body {
  font-family: 'Lato';
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #1b1a1a;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffde59;
}

p {
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
  margin: 10px 20px;
  padding: 10px;
}

video {
  margin: 10px 20px;
  padding: 10px;
  max-width: 90%;
  height: auto;
}

a {
  color: #ffde59;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  z-index: 1;
}
  
fieldset {
  border: none;
  padding: 2rem 0;
}
  
fieldset:not(:last-of-type) {
  border-bottom: 3px solid #ffde59;
}
  
label {
  display: block;
  margin: 0.5rem 0;
}
  
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
  
input, textarea {
  background-color: #fff;
  border: 1px solid #1b1a1a;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 10px;
}

img.icon {
  width: 18;
  height: 18;
  margin-right: 12px;
  vertical-align: middle;
}

input.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

a.btn, input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffde59;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

div.header {
  overflow: hidden;
  background: #1b1a1a;
  padding: 10px 10px;
  position: relative;
  z-index: 1;
}

div.header img {
  float: left;
  height: 50px;
}
    
div.header a {
  float: left;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 25px;
  border-radius: 4px;
}
    
div.header a:hover {
  background-color: #ffde59;
  color: #1b1a1a;
}
    
div.header div.header-right {
  float: right;
}

div.notification {
  background: #ff8a59;
  padding: 10px 10px;
  text-align: center;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 10px;
}

div.hero {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/photo-creator.webp');
}

div.hero img {
  max-width: 90%;
  height: auto;
}

div.welcome {
  min-height: 100px;
  text-align: center;
}

div.welcome p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0;
  padding: 0;
}

div.title {
  padding: 20px;
  margin: 5px;
  text-align: center;
}

div.bg {
  background-size: cover;
  background-position: center;
  background-image: url(img/gamepad.webp);
}

div.container {
  display: flex;
  flex-wrap: wrap;
}

div.container div.column {
  flex: 1;
  min-width: 350px;
  padding: 20px;
  margin: 20px;
  background-color: #000;
  border-left: 6px solid #ffde59;
}

div.container div.column img {
  max-width: 90%;
  height: auto;
}

div.container div.column p {
  max-width: 700px;
}

div.container div.column a {
  color: #ffde59;
}

div.container div.column span {
  color: #ffde59;
}

div.register {
  text-align: center;
  height: 200px; 
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

div.gallery img {
  height: 200px !important;
  width: auto !important;
  padding: 2px;
}

div.logorow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background-color: #fff;
}

div.logorow img {
  padding: 20px;
  height: 70px;
  width: auto;
}
