---
pagetitle: Formula Infinity Game Awards
pagesubtitle: Home
footer: !cat partial/footer.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pagetitle }}&mdash;{{ pagesubtitle }}">
    <title>{{ pagetitle }}&mdash;{{ pagesubtitle }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="header">
      <img src="img/figa2024-logo.png" alt="Formula Infinity Game Awards Logo">
      <div class="header-right">
        <a href="index.html">Home</a>
        <a href="register.html">Registration</a>
        <a href="previous.html">Past events</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
      </div>
    </div>

    <div class="notification">
      <span>It has come to our attention that some registrations might not have been received. If you registered but did <em>not</em> receive any notification, please contact <a href="mailto:linda.gao@chalmers.se">linda.gao@chalmers.se</a>.</span>
    </div>
  
    {{{ content }}}

    {{{ footer }}}

  </body>
</html>
